# --- ENVIRONNEMENT VIRTUEL ---
venv/
env/
.env

# --- CACHE PYTHON ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- CONFIGURATION STREAMLIT ---
.streamlit/
static/logo.png

# --- BASE DE DONNÉES ---
# ON NE SUIT PAS LA DB POUR ÉVITER D'ÉCRASER LES DONNÉES RÉELLES EN PRODUCTION
data/*.db
data/*.sqlite

# --- FICHIERS GÉNÉRÉS (EXPORTS ET QR CODES) ---
# ON GARDE LES DOSSIERS MAIS ON IGNORE LES FICHIERS À L'INTÉRIEUR
exports/*.xlsx
exports/*.csv
static/qrcodes/*.png
!static/qrcodes/.gitkeep

# --- DOSSIERS SYSTÈME (MAC / WINDOWS) ---
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
desktop.ini